body {
  position: relative;
  cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1001;
  cursor: none;
  pointer-events: none;
}
  
.cursor img{
  width: 100%;
}